body{
    background-color:lightgrey;
    text-align: left;

  }

img {
    float: left;
    max-width: 50%;
    /* height: auto; */
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  th, td {
    padding: 15px;
    text-align: left;
  }

  th {
    background-color: #020202;
    color: white;
  }